@CHARSET "UTF-8";
h2 {
  color: #FFA500;
  font-family: 'Amatic SC', cursive;
  font-size: 42px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}